In [1]:
#Importing libraries for ast eval and pandas for cleaning
import pandas as pd
import ast

In [2]:
#Reading CSV file
games=pd.read_csv('kaggle video game dataset.csv')

In [3]:
games.head()

,Title,Release Date,Developer,Publisher,Genres,Product Rating,User Score,User Ratings Count,Platforms Info
0,Ziggurat (2012),2/17/2012,Action Button Entertainment,Freshuu Inc.,Action,NaN,6.9,14.0,"[{'Platform': 'iOS (iPhone/iPad)', 'Platform M..."
1,4X4 EVO 2,11/15/2001,Terminal Reality,Gathering,Auto Racing Sim,Rated E For Everyone,NaN,NaN,"[{'Platform': 'Xbox', 'Platform Metascore': '5..."
2,MotoGP 2 (2001),1/22/2002,Namco,Namco,Auto Racing Sim,Rated E For Everyone,5.8,NaN,"[{'Platform': 'PlayStation 2', 'Platform Metas..."
3,Gothic 3,11/14/2006,Piranha Bytes,Aspyr,Western RPG,Rated T For Teen,7.5,832.0,"[{'Platform': 'PC', 'Platform Metascore': '63'..."
4,Siege Survival: Gloria Victis,5/18/2021,FishTankStudio,Black Eye Games,RPG,NaN,6.5,10.0,"[{'Platform': 'PC', 'Platform Metascore': '69'..."

In [4]:
games['Platforms Info'].iloc[4]

"[{'Platform': 'PC', 'Platform Metascore': '69', 'Platform Metascore Count': 'Based on 12 Critic Reviews'}]"

In [5]:
#Dropping Release Date, Publisher, Product rating and user score as redundant to our analysis
games=games[['Title','Developer','Genres','Platforms Info']]

In [6]:
games.head()

,Title,Developer,Genres,Platforms Info
0,Ziggurat (2012),Action Button Entertainment,Action,"[{'Platform': 'iOS (iPhone/iPad)', 'Platform M..."
1,4X4 EVO 2,Terminal Reality,Auto Racing Sim,"[{'Platform': 'Xbox', 'Platform Metascore': '5..."
2,MotoGP 2 (2001),Namco,Auto Racing Sim,"[{'Platform': 'PlayStation 2', 'Platform Metas..."
3,Gothic 3,Piranha Bytes,Western RPG,"[{'Platform': 'PC', 'Platform Metascore': '63'..."
4,Siege Survival: Gloria Victis,FishTankStudio,RPG,"[{'Platform': 'PC', 'Platform Metascore': '69'..."

In [7]:
#Renaming Columns
games=games.rename(columns={'Platforms Info': 'Platform Info','Genres':'Genre'})

In [8]:
games.head()

,Title,Developer,Genre,Platform Info
0,Ziggurat (2012),Action Button Entertainment,Action,"[{'Platform': 'iOS (iPhone/iPad)', 'Platform M..."
1,4X4 EVO 2,Terminal Reality,Auto Racing Sim,"[{'Platform': 'Xbox', 'Platform Metascore': '5..."
2,MotoGP 2 (2001),Namco,Auto Racing Sim,"[{'Platform': 'PlayStation 2', 'Platform Metas..."
3,Gothic 3,Piranha Bytes,Western RPG,"[{'Platform': 'PC', 'Platform Metascore': '63'..."
4,Siege Survival: Gloria Victis,FishTankStudio,RPG,"[{'Platform': 'PC', 'Platform Metascore': '69'..."

In [9]:
#Checking for nulls
games.isnull().sum()

Title             21
Developer        138
Genre             21
Platform Info      0
dtype: int64

In [10]:
#Dropping nulls
games.dropna(inplace=True)

In [11]:
games.isnull().sum()

Title            0
Developer        0
Genre            0
Platform Info    0
dtype: int64

In [12]:
games

,Title,Developer,Genre,Platform Info
0,Ziggurat (2012),Action Button Entertainment,Action,"[{'Platform': 'iOS (iPhone/iPad)', 'Platform M..."
1,4X4 EVO 2,Terminal Reality,Auto Racing Sim,"[{'Platform': 'Xbox', 'Platform Metascore': '5..."
2,MotoGP 2 (2001),Namco,Auto Racing Sim,"[{'Platform': 'PlayStation 2', 'Platform Metas..."
3,Gothic 3,Piranha Bytes,Western RPG,"[{'Platform': 'PC', 'Platform Metascore': '63'..."
4,Siege Survival: Gloria Victis,FishTankStudio,RPG,"[{'Platform': 'PC', 'Platform Metascore': '69'..."
...,...,...,...,...
14050,Dragon Age: Origins - Awakening,BioWare,Western RPG,"[{'Platform': 'PlayStation 3', 'Platform Metas..."
14051,Lover Pretend,Idea Factory,Visual Novel,"[{'Platform': 'Nintendo Switch', 'Platform Met..."
14052,Alice: Madness Returns,Spicy Horse,Survival,"[{'Platform': 'PC', 'Platform Metascore': '75'..."
14053,Concrete Genie,Pixel Opus,Third-Person Adventure,"[{'Platform': 'PlayStation 4', 'Platform Metas..."
14054,Lemony Snicket's A Series of Unfortunate Event...,Griptonite Games,3D Platformer,"[{'Platform': 'Game Boy Advance', 'Platform Me..."

In [13]:
s=games['Platform Info'].iloc[1]

In [14]:
s

"[{'Platform': 'Xbox', 'Platform Metascore': '59', 'Platform Metascore Count': 'Based on 15 Critic Reviews'}, {'Platform': 'PC', 'Platform Metascore': '69', 'Platform Metascore Count': 'Based on 9 Critic Reviews'}, {'Platform': 'GameCube', 'Platform Metascore': '56', 'Platform Metascore Count': 'Based on 7 Critic Reviews'}]"

In [15]:
s=ast.literal_eval(s)

In [16]:
def convert(input):
    return ast.literal_eval(input)

In [17]:
#Using ast literal to remove string covering from list of dicts
games['Platform Info']=games['Platform Info'].apply(convert)

In [18]:
games['Platform Info'].iloc[3]

[{'Platform': 'PC',
  'Platform Metascore': '63',
  'Platform Metascore Count': 'Based on 39 Critic Reviews'}]

In [19]:
def extract_platform(input):
    lst=[]
    try: 
        lst.append(input[0]['Platform'])
    except:
        lst.append('notaval')
    return lst

In [20]:
extract_platform(s)

['Xbox']

In [21]:
# Using extract platform function to extract platforms from dict of each game
games['Platform Info']=games['Platform Info'].apply(extract_platform)

In [22]:
games.head()

,Title,Developer,Genre,Platform Info
0,Ziggurat (2012),Action Button Entertainment,Action,[iOS (iPhone/iPad)]
1,4X4 EVO 2,Terminal Reality,Auto Racing Sim,[Xbox]
2,MotoGP 2 (2001),Namco,Auto Racing Sim,[PlayStation 2]
3,Gothic 3,Piranha Bytes,Western RPG,[PC]
4,Siege Survival: Gloria Victis,FishTankStudio,RPG,[PC]

In [23]:
games['Original Title']=games['Title']
games['Title']=games['Title'].apply(lambda x:x.split(' '))

In [24]:
games['Developer']=games['Developer'].apply(lambda x:x.split(' '))

In [25]:
games['Genre']=games['Genre'].apply(lambda x:x.split(' '))

In [26]:
games.head()

,Title,Developer,Genre,Platform Info,Original Title
0,"[Ziggurat, (2012)]","[Action, Button, Entertainment]",[Action],[iOS (iPhone/iPad)],Ziggurat (2012)
1,"[4X4, EVO, 2]","[Terminal, Reality]","[Auto, Racing, Sim]",[Xbox],4X4 EVO 2
2,"[MotoGP, 2, (2001)]",[Namco],"[Auto, Racing, Sim]",[PlayStation 2],MotoGP 2 (2001)
3,"[Gothic, 3]","[Piranha, Bytes]","[Western, RPG]",[PC],Gothic 3
4,"[Siege, Survival:, Gloria, Victis]",[FishTankStudio],[RPG],[PC],Siege Survival: Gloria Victis

In [27]:
#Joining all columns to make 1
games['tags']=games['Title']+games['Developer']+games['Genre']+games['Platform Info']

In [28]:
games.head()

,Title,Developer,Genre,Platform Info,Original Title,tags
0,"[Ziggurat, (2012)]","[Action, Button, Entertainment]",[Action],[iOS (iPhone/iPad)],Ziggurat (2012),"[Ziggurat, (2012), Action, Button, Entertainme..."
1,"[4X4, EVO, 2]","[Terminal, Reality]","[Auto, Racing, Sim]",[Xbox],4X4 EVO 2,"[4X4, EVO, 2, Terminal, Reality, Auto, Racing,..."
2,"[MotoGP, 2, (2001)]",[Namco],"[Auto, Racing, Sim]",[PlayStation 2],MotoGP 2 (2001),"[MotoGP, 2, (2001), Namco, Auto, Racing, Sim, ..."
3,"[Gothic, 3]","[Piranha, Bytes]","[Western, RPG]",[PC],Gothic 3,"[Gothic, 3, Piranha, Bytes, Western, RPG, PC]"
4,"[Siege, Survival:, Gloria, Victis]",[FishTankStudio],[RPG],[PC],Siege Survival: Gloria Victis,"[Siege, Survival:, Gloria, Victis, FishTankStu..."

In [29]:
games=games[['Original Title','tags']]

In [30]:
games.head()

,Original Title,tags
0,Ziggurat (2012),"[Ziggurat, (2012), Action, Button, Entertainme..."
1,4X4 EVO 2,"[4X4, EVO, 2, Terminal, Reality, Auto, Racing,..."
2,MotoGP 2 (2001),"[MotoGP, 2, (2001), Namco, Auto, Racing, Sim, ..."
3,Gothic 3,"[Gothic, 3, Piranha, Bytes, Western, RPG, PC]"
4,Siege Survival: Gloria Victis,"[Siege, Survival:, Gloria, Victis, FishTankStu..."

In [31]:
games=games.rename(columns={'Original Title':'title'})

In [32]:
games.head()

,title,tags
0,Ziggurat (2012),"[Ziggurat, (2012), Action, Button, Entertainme..."
1,4X4 EVO 2,"[4X4, EVO, 2, Terminal, Reality, Auto, Racing,..."
2,MotoGP 2 (2001),"[MotoGP, 2, (2001), Namco, Auto, Racing, Sim, ..."
3,Gothic 3,"[Gothic, 3, Piranha, Bytes, Western, RPG, PC]"
4,Siege Survival: Gloria Victis,"[Siege, Survival:, Gloria, Victis, FishTankStu..."

In [33]:
#removing spaces between tags
games['tags']=games['tags'].apply(lambda x:[i.replace(" ","") for i in x])

In [34]:
games['tags'].iloc[2]

['MotoGP', '2', '(2001)', 'Namco', 'Auto', 'Racing', 'Sim', 'PlayStation2']

In [35]:
games.head()

,title,tags
0,Ziggurat (2012),"[Ziggurat, (2012), Action, Button, Entertainme..."
1,4X4 EVO 2,"[4X4, EVO, 2, Terminal, Reality, Auto, Racing,..."
2,MotoGP 2 (2001),"[MotoGP, 2, (2001), Namco, Auto, Racing, Sim, ..."
3,Gothic 3,"[Gothic, 3, Piranha, Bytes, Western, RPG, PC]"
4,Siege Survival: Gloria Victis,"[Siege, Survival:, Gloria, Victis, FishTankStu..."

In [36]:
def lowering(input):
    lst=[]
    for i in input:
        lst.append(i.lower())
    return lst

In [37]:
games['tags']=games['tags'].apply(lowering)

In [38]:
games

,title,tags
0,Ziggurat (2012),"[ziggurat, (2012), action, button, entertainme..."
1,4X4 EVO 2,"[4x4, evo, 2, terminal, reality, auto, racing,..."
2,MotoGP 2 (2001),"[motogp, 2, (2001), namco, auto, racing, sim, ..."
3,Gothic 3,"[gothic, 3, piranha, bytes, western, rpg, pc]"
4,Siege Survival: Gloria Victis,"[siege, survival:, gloria, victis, fishtankstu..."
...,...,...
14050,Dragon Age: Origins - Awakening,"[dragon, age:, origins, -, awakening, bioware,..."
14051,Lover Pretend,"[lover, pretend, idea, factory, visual, novel,..."
14052,Alice: Madness Returns,"[alice:, madness, returns, spicy, horse, survi..."
14053,Concrete Genie,"[concrete, genie, pixel, opus, third-person, a..."
14054,Lemony Snicket's A Series of Unfortunate Event...,"[lemony, snicket's, a, series, of, unfortunate..."

In [39]:
df_reset = games.reset_index()

In [40]:
index_df = df_reset.index.to_frame(index=False, name='Name')

In [41]:
index_df

        Name
0          0
1          1
2          2
3          3
4          4
...      ...
13912  13912
13913  13913
13914  13914
13915  13915
13916  13916

[13917 rows x 1 columns]

In [42]:
games = pd.concat([index_df, games.reset_index(drop=True)], axis=1)

In [43]:
games

,Name,title,tags
0,0,Ziggurat (2012),"[ziggurat, (2012), action, button, entertainme..."
1,1,4X4 EVO 2,"[4x4, evo, 2, terminal, reality, auto, racing,..."
2,2,MotoGP 2 (2001),"[motogp, 2, (2001), namco, auto, racing, sim, ..."
3,3,Gothic 3,"[gothic, 3, piranha, bytes, western, rpg, pc]"
4,4,Siege Survival: Gloria Victis,"[siege, survival:, gloria, victis, fishtankstu..."
...,...,...,...
13912,13912,Dragon Age: Origins - Awakening,"[dragon, age:, origins, -, awakening, bioware,..."
13913,13913,Lover Pretend,"[lover, pretend, idea, factory, visual, novel,..."
13914,13914,Alice: Madness Returns,"[alice:, madness, returns, spicy, horse, survi..."
13915,13915,Concrete Genie,"[concrete, genie, pixel, opus, third-person, a..."
13916,13916,Lemony Snicket's A Series of Unfortunate Event...,"[lemony, snicket's, a, series, of, unfortunate..."

In [44]:
games=games.rename(columns={'Name':'gameid'})

In [45]:
games

,gameid,title,tags
0,0,Ziggurat (2012),"[ziggurat, (2012), action, button, entertainme..."
1,1,4X4 EVO 2,"[4x4, evo, 2, terminal, reality, auto, racing,..."
2,2,MotoGP 2 (2001),"[motogp, 2, (2001), namco, auto, racing, sim, ..."
3,3,Gothic 3,"[gothic, 3, piranha, bytes, western, rpg, pc]"
4,4,Siege Survival: Gloria Victis,"[siege, survival:, gloria, victis, fishtankstu..."
...,...,...,...
13912,13912,Dragon Age: Origins - Awakening,"[dragon, age:, origins, -, awakening, bioware,..."
13913,13913,Lover Pretend,"[lover, pretend, idea, factory, visual, novel,..."
13914,13914,Alice: Madness Returns,"[alice:, madness, returns, spicy, horse, survi..."
13915,13915,Concrete Genie,"[concrete, genie, pixel, opus, third-person, a..."
13916,13916,Lemony Snicket's A Series of Unfortunate Event...,"[lemony, snicket's, a, series, of, unfortunate..."

In [46]:
df=games

In [47]:
df

,gameid,title,tags
0,0,Ziggurat (2012),"[ziggurat, (2012), action, button, entertainme..."
1,1,4X4 EVO 2,"[4x4, evo, 2, terminal, reality, auto, racing,..."
2,2,MotoGP 2 (2001),"[motogp, 2, (2001), namco, auto, racing, sim, ..."
3,3,Gothic 3,"[gothic, 3, piranha, bytes, western, rpg, pc]"
4,4,Siege Survival: Gloria Victis,"[siege, survival:, gloria, victis, fishtankstu..."
...,...,...,...
13912,13912,Dragon Age: Origins - Awakening,"[dragon, age:, origins, -, awakening, bioware,..."
13913,13913,Lover Pretend,"[lover, pretend, idea, factory, visual, novel,..."
13914,13914,Alice: Madness Returns,"[alice:, madness, returns, spicy, horse, survi..."
13915,13915,Concrete Genie,"[concrete, genie, pixel, opus, third-person, a..."
13916,13916,Lemony Snicket's A Series of Unfortunate Event...,"[lemony, snicket's, a, series, of, unfortunate..."

In [48]:
games['tags']=games['tags'].apply(lambda x:" ".join(x))

In [49]:
df

,gameid,title,tags
0,0,Ziggurat (2012),ziggurat (2012) action button entertainment ac...
1,1,4X4 EVO 2,4x4 evo 2 terminal reality auto racing sim xbox
2,2,MotoGP 2 (2001),motogp 2 (2001) namco auto racing sim playstat...
3,3,Gothic 3,gothic 3 piranha bytes western rpg pc
4,4,Siege Survival: Gloria Victis,siege survival: gloria victis fishtankstudio r...
...,...,...,...
13912,13912,Dragon Age: Origins - Awakening,dragon age: origins - awakening bioware wester...
13913,13913,Lover Pretend,lover pretend idea factory visual novel ninten...
13914,13914,Alice: Madness Returns,alice: madness returns spicy horse survival pc
13915,13915,Concrete Genie,concrete genie pixel opus third-person adventu...
13916,13916,Lemony Snicket's A Series of Unfortunate Event...,lemony snicket's a series of unfortunate event...

In [50]:
df.head()

,gameid,title,tags
0,0,Ziggurat (2012),ziggurat (2012) action button entertainment ac...
1,1,4X4 EVO 2,4x4 evo 2 terminal reality auto racing sim xbox
2,2,MotoGP 2 (2001),motogp 2 (2001) namco auto racing sim playstat...
3,3,Gothic 3,gothic 3 piranha bytes western rpg pc
4,4,Siege Survival: Gloria Victis,siege survival: gloria victis fishtankstudio r...

In [51]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=7000,stop_words='english')

In [52]:
vectors=cv.fit_transform(df['tags']).toarray()

In [53]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [54]:
vectors[10]

array([0, 0, 0, ..., 0, 0, 0])

In [55]:
cv.get_feature_names_out()

array(['000', '007', '01', ..., 'zworkbench', 'zx', 'zynga'], dtype=object)

In [56]:
import nltk
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [57]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [58]:
df['tags']=df['tags'].apply(stem)

In [59]:
df.head()

,gameid,title,tags
0,0,Ziggurat (2012),ziggurat (2012) action button entertain action...
1,1,4X4 EVO 2,4x4 evo 2 termin realiti auto race sim xbox
2,2,MotoGP 2 (2001),motogp 2 (2001) namco auto race sim playstation2
3,3,Gothic 3,gothic 3 piranha byte western rpg pc
4,4,Siege Survival: Gloria Victis,sieg survival: gloria victi fishtankstudio rpg pc

In [60]:
from sklearn.metrics.pairwise import cosine_similarity

In [61]:
similarity=cosine_similarity(vectors)

In [62]:
similarity[0]

array([1., 0., 0., ..., 0., 0., 0.])

In [63]:
df.head()

,gameid,title,tags
0,0,Ziggurat (2012),ziggurat (2012) action button entertain action...
1,1,4X4 EVO 2,4x4 evo 2 termin realiti auto race sim xbox
2,2,MotoGP 2 (2001),motogp 2 (2001) namco auto race sim playstation2
3,3,Gothic 3,gothic 3 piranha byte western rpg pc
4,4,Siege Survival: Gloria Victis,sieg survival: gloria victi fishtankstudio rpg pc

In [64]:
similarity

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.40089186, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.40089186, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [65]:
similarity[0]

array([1., 0., 0., ..., 0., 0., 0.])

In [66]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:10]

[(633, 0.7385489458759965),
 (7494, 0.6837634587578276),
 (8737, 0.6837634587578276),
 (1937, 0.6741998624632421),
 (4020, 0.6741998624632421),
 (4135, 0.6741998624632421),
 (4993, 0.6741998624632421),
 (6031, 0.6741998624632421),
 (9466, 0.6741998624632421)]

In [67]:
def recommend(game):
    game_index=df[df['title']==game].index[0]
    distances=similarity[game_index]
    games_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in games_list:
        print(df.iloc[i[0]].title)

In [68]:
recommend('MotoGP 2 (2001)')

MotoGP 3
MotoGP 4
MotoGP (2000)
R: Racing Evolution
F1 2001

In [69]:
import pickle

In [72]:
#converting data frame to dictionary because seedha datafram pickle through bhej kay nai chal raha tha
pickle.dump(df.to_dict(),(open('games.pkl','wb')))

In [71]:
pickle.dump(similarity,open('similarity.pkl','wb'))